/*-- Сайт розроблено студентом Рожчук Олександр, група ФЕМП 4-14 */
/* ================= css/style.css ================= */
body {font-family: Roboto; margin:0;}
header {background:#d52b1e; color:white; padding:20px; text-align:center;}
nav {background:#ffc72c; padding:10px; text-align:center;}
nav a {margin:10px; text-decoration:none; color:black; font-weight:bold;}
main {padding:20px;}
footer {background:#333; color:white; text-align:center; padding:10px;}
button {padding:10px; background:#d52b1e; color:white; border:none;}
